<div class="top-gaiyou">
  <div class="gaiyou-name">ログイン</div>
</div>
<div class="contents row">
  <div class="container">
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="front-text">
        <%= f.label :メールアドレス %><br /></div>
        <%= f.email_field :email, autofocus: true %>

      <div class="front-text">
        <%= f.label :パスワード %><br /></div>
        <%= f.password_field :password, autocomplete: "off" %>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
  </div>
</div>