<meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
<div class="arm-top-gaiyou">
  <div class="arm-gaiyou-name">腕報告一覧</div>
</div>
    <main class="main">
      <div class="arm-inner">
      <% @posts.each do |post| %>
          <%= link_to post_path(post.id),  :style=>"color:black;",method: :get do %>
        <div class="arm-card__wrapper">
          <div class="arm-card">
          <%= image_tag post.image, class: "arm-card__img" if post.image.attached? %>
            <div class="card__body">
              <h2 class="card__title">投稿者：<%= post.name %></h2>
              <p class="card__summary">
              <p>鍛えた部位：<%= post.category.name %></p>
              <p>一言：<%= post.message %></p>
              </p>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
     </main>
