<meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
<body>
<div class="top-gaiyou">
  <div class="gaiyou-name">成果報告</div>
</div>
  <div class="contents row">
    <div class="container">
    <div class="pampu">
      <h3>パンプアップポイント</h3>
    </div>
      <%= form_with model: @post, url:posts_path,local: true do |f| %>
        
        <div class="front-text">鍛錬部位</div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %>
        <div class="front-text">一言コメント</div>
        <%= f.text_area :message, placeholder: "一言メッセージ", rows: "2" %>
        <div class="front-text">画像</div>
        <div id="image-list"></div>
        <%= f.file_field :image, id:"post-image" %>
        <div id="preview"></div>

        <%= f.submit "SEND" %>
      <% end %>
    </div>
  </div>
</body>
