<meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
<div class="show-top-gaiyou">
  <div class="show-gaiyou-name">Pick up</div>
</div>

    <main class="show-main">
      <div class="inner">
        <div class="card__wrapper">
          <div class="show-card">
          <%= image_tag @post.image, class: "show-card__img" if @post.image.attached? %>
            <div class="show-card__body">
            <a href="/users/<%= @post.user.id %>">
              <h2 class="show-card__title">投稿者：<%= @post.user.nickname %></h2>
              </a>
              <p class="show-card__summary">
              <p>鍛えた部位：<%= @post.category.name %></p>
              <p>一言：<%= @post.message %></p>
              </p>
              <li class="show-li">
              <%= link_to '投稿の編集', edit_post_path(@post), method: :get, class: "edit-link-btn" %>
              <%= link_to '削除', post_path(@post), method: :delete, class:'delete-link-btn' %>
              </li>
            </div>
        </div>
      </div>
      <% if user_signed_in? %>
       <div class="comment-form">
        <%= form_with(model: [@post, @comment], local: true) do |form| %>
          <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
          <%= form.submit "SEND" %>

        <% end %>
        </div>
      <% else %>
        <strong><p>※※※ コメントの投稿には会員登録/ログインが必要です ※※※</p></strong>
      <% end %>
      <div class="comments">
      <h4>＜コメント一覧＞</h4>
       <% @comments.reverse_each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" ,class:'font-black' %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      </div>
 </main>