<!DOCTYPE html>
<html>
  <head>
    <title>MuscleTraining1120</title>
    <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script>
    $(function() {
       const hum = $('#hamburger, .close')
       const nav = $('.sp-nav')
       hum.on('click', function(){
          nav.toggleClass('toggle');
       });
    });
    </script>
  </head>

  <body>
  <header class="header">
  <%= link_to image_tag("images/Create_Your_Own_Logo_-_Online_Logo_Maker.png", class:"logo"), "/" %>
    <ul class="menu">
      <li class="menu-item"><a href="/contact/:id" class="menu-item-link">愛好会概要</a></li>
      <li class="menu-item"><a href="/posts/list" class="menu-item-link">投稿一覧</a></li>
      <li class="menu-item"><a href="/contact" class="menu-item-link">お問い合わせ</a></li>

      <% if user_signed_in? %>
      <div class="user_nav grid-6">
        <span><li class="menu-item"><%= current_user.nickname %>
          <ul class="user__info">
              <li class="menu-item"><%= link_to "マイページ", "/users/#{current_user.id}" ,class: "mypage-link" %></li>
              <li class="menu-item"><%= link_to "ログアウト", destroy_user_session_path,  method: :delete,class: "menu-item-link" %></li>
          </ul>
        </span>
       </div>
      <% else %>
        <li class="menu-item"><%= link_to "ログイン", new_user_session_path, class: "menu-item-link" %></li>
        <li class="menu-item"><%= link_to "会員登録", new_user_registration_path, class: "menu-item-link" %></li>
      <% end %>
      <li class="menu-item">
        <a class="menu-item-link menu-item-link-btn" href="/posts/new">成果報告</a>
      </li>
    </ul>

    <nav class="sp-nav">
      <ul>
        <li><a href="/contact/:id">愛好会概要</a></li>
        <li><a href="/posts/list">投稿一覧</a></li>
        <li><a href="/contact" class="menu-item-link">お問い合わせ</a></li>
        <li><a href="/posts/new">成果報告</a></li>
        <% if user_signed_in? %>
        <span><li class="menu-item">
          <ul class="user__info">
              <li class="menu-item"><%= link_to "マイページ", "/users/#{current_user.id}" ,class: "mypage-link" %></li>
              <li class="menu-item"><%= link_to "ログアウト", destroy_user_session_path,  method: :delete,class: "menu-item-link" %></li>
          </ul>
        </span>
      <% else %>
      <li class="menu-item"><%= link_to "会員登録", new_user_registration_path, class: "menu-item-link" %></li>
        <li class="menu-item"><%= link_to "ログイン", new_user_session_path, class: "menu-item-link" %></li>
      <% end %>
        <li class="close"><span>閉じる</span></li>
     </ul>
    </nav>
    <div id="hamburger">
     <span></span>
    </div>
  </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © 2020 div Inc.Muscle Training CLUB All rights reserved.</p>
    </footer>
  </body>
</html>
